@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:wght@900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  /*font-family: 'Signika', sans-serif;*/
  font-family: 'Esteban', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
}
