.projects-wrapper {
    background-color: white;
    scroll-snap-align: start;
    min-height: auto;
    background-color: #011936;
}

.project-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 120px;
}