.projects-wrapper {
    background-color: white;
    scroll-snap-align: start;
    height: 100vh;
    background-color: #011936;
}

.project-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 50px;
    margin-top: 120px;
}