@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');

.titlebar {
    display: flex;
    background-color: #011936;
    font-family: 'Oxanium', cursive;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 75px;
    position: fixed;
    width: 100%;
    height: 120px;
}

.icons {
    justify-content: center;
    align-self: center;
}

.icons img {
    margin-right: 20px;
    height: 40px;
    width: auto;
}

.links {
    align-self: center;
    margin-right: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: x-large;
}
